header {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  header {
    width: 100%;
  }
}

.linkStyle {
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  padding: 5px;
  margin-right: 5px;
}

.outline {
  width: 50%;
  height: 5px;
  margin: 0 auto;
  background-color: black;
}

.myBooksBtn {
  background-color: transparent;
  font-size: 20px;
  border: 1px solid transparent;
  cursor: pointer;
}

.authentication {
  font-size: 20px;
}
