* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notAdded {
  text-align: center;
  font-size: 22px;
}
.container {
  padding: 40px 5%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* height: 100vh; */
}

.bookItem {
  flex-basis: 350px; /*width: 350px;*/
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookItem img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}
